/play/logs/
project/project
target/
tmp
.history
.classpath
.settings
.project
.DS_Store
/dist
/play/workspace/
/play/styles/
/play/scripts/
.idea/
.idea_modules/
*.iml
/play/map-catalogs/
*~
/wms/logs/*
/play/dist/*
