

@import helper.twitterBootstrap._

@javamain("Contact","OrbisGIS services") {
<div class="row-fluid" style="padding-left:2px">
    <div class="container">
        <div class="page-header">
            <h1>Contacts</h1>
        </div>
        <div class="well">
            <h2>IRSTV</h2>
            <a href="http://www.irstv.fr/index.php">Official website</a>
        </div>
        <div class="well">
            <h2>OrbisGis</h2>
            <a href="http://www.orbisgis.org/">Official website</a>
        </div>
        <div class="well">
            <h2>Main developers :</h2>
            <p>Gourlay Antoine : GDMS 2 and WPS</p>
            <p>Jothy Mario : Main structure and MapCatalog 2.0</p>
            <p>Gueganno Alexis : WMS and overall stability</p>
            <p>Fortin Nicolas : MapCatalog 1.0</p>
            <p>Bocher Erwan : WMS and main structure</p>
        </div>
        <div class="well">
            <h2>Designers</h2>
            <p>Petit Gwendall : Logos</p>
        </div>
        <div class="well">
            <h2>Special thanks</h2>
            <p>Martin Jean-Yves : Adviser</p>
        </div>
    </div>
}
