@import helper.twitterBootstrap._

@javamain("Home","OrbisGIS services") {

<div class="container">
    <div class="page-header">
        <h1>I forgot my password !</h1>
    </div>
    @if(!(flash.get("error")==null)){
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Error :</h4>
        @flash.get("error")
    </div>
    }
    @if(flash.get("info")!=null){
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Info :</h4>
        @flash.get("info")
    </div>
    }
    <p>Please submit your address here, an email will be sent to you to confirm, and you will be able to change your password.</p>
    <form action="@routes.General.sendEmailForgotPassword()" method="post">
        <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
                <input required="required" type="email"  id="inputEmail" name="email" placeholder="Email">
            </div>
            <div class="controls">
                <button type="submit" class="btn">Submit</button>
            </div>
        </div>
    </form>
</div>
}
