@import helper.twitterBootstrap._

@main("OrbisGIS services") {
<div class="container">
    <div class="page-header">
        <h1>
            <img src="@routes.Assets.at("/images/OrbisServices.png")" alt="Orbis Services Home"></img>
        </h1>
    </div>
</div>

<ul class="thumbnails" style="position:relative;left:3%">
        <div class="thumbnail" style="position:absolute;width:30%">
            <img src="@routes.Assets.at("/images/OrbisData.png")" alt="Orbis Data">
            <h2>Orbis Data</h2>
            <p>Description here</p>
            <button class="btn btn-primary" type="button">Try it !</button>
            <button class="btn" type="button">Sign in</button>
        </div>
        <div class="thumbnail" style="position:absolute;margin-left:32%;width:30%">
            <img src="@routes.Assets.at("/images/OrbisMapCatalog.png")" alt="Orbis Map Catalog">
            <h2>Orbis Map Catalog</h2>
            <p>Description here</p>
            <button class="btn btn-primary" type="button">Try it !</button>
            <button class="btn" type="button">Sign in</button>
        </div>
        <div class="thumbnail"style="position:absolute;margin-left:64%;width:30%">
            <img src="@routes.Assets.at("/images/OrbisProcessing.png")" alt="Orbis Processing">
            <h2>Orbis Processing</h2>
            <p>Description here</p>
            <button class="btn btn-primary" type="button">Try it !</button>
            <button class="btn" type="button">Sign in</button>
        </div>
</ul>
}
