@(workspaces : List[org.orbisgis.server.mapcatalog.Workspace])

@import helper.twitterBootstrap._

@main("MapCatalog","OrbisGIS services") {
<div class="container">
    <div class="page-header">
        <h1>
            <img src="@routes.Assets.at("images/OrbisMapCatalog.png")" alt="Map Catalog"></img>
        </h1>
    </div>
</div>
<div class="container-fluid" >
    <div class="row-fluid">
        <div class="span4" id="navigate" style="background-color:#61a8df;padding-left: 5px">

            <ul class="nav nav-tabs" style="margin-top:2%">
                <li @if(flash.contains("section")){class="active"}>
                    <a href="@routes.MapCatalogC.myWorkspaces()"><h4>My workspaces</h4></a>
                </li>
                <li @if(!flash.contains("section")){class="active"}>
                    <a href="@routes.MapCatalogC.index()"><h4>Public workspaces</h4></a>
                </li>
            </ul>
            <form class="form-search">
                <input type="text" class="input-medium search-query" placeholder="Search a workspace">
                <button type="submit" class="btn">Search</button>
            </form>
            <h4>Workspaces</h4>
            <a href="javascript:alert('hi');"> Cliquez ici </a>
            <div style="background-color:#FFFFFF;width:100%+5px;margin-left:-5px">
                <img src="@routes.Assets.at("images/add.png")" onclick="toggle('addAWorkspace')" alt="add"> create my own workspace</img>
                <form id="addAWorkspace" style="margin-left:2%;padding-bottom:2px" style="display:none" action="@routes.MapCatalogC.createWorkspace()">
                    <fieldset>
                        <label>Name</label>
                        <input type="text" placeholder="Type the name of the workspace" name="name">
                        <span class="help-block">Decide whether the workspace is public or not:</span>
                        <label class="radio">
                            <input type="radio" name="public" value="true" checked>Public
                        </label>
                        <label class="radio">
                            <input type="radio" name="public" value="false">Private
                        </label>
                        <button type="submit" class="btn">Submit</button>
                    </fieldset>
                </form>
            </div>
            <div class="CSSworktable" style="width:98%;margin-bottom:1%">
                <table >
                    <tr>
                        <td>Name</td>
                        <td>Creator</td>
                        <td>Action</td>
                    </tr>
                    @for(workspace <- workspaces){
                    <tr>
                        <td >
                            <a href="/mapcatalog/workspace/@workspace.getId_workspace()">
                                <img src="@routes.Assets.at("images/workspace.png")" alt="Map">@workspace.getName()
                            </a>
                        </td>
                        <td>@workspace.getId_creator()</td>
                        <td><a href="/mapcatalog/workspace/@workspace.getId_workspace()">View</a></td>
                    </tr>
                    }
                </table>
            </div>
        </div>
        <div class="span8" id="display" style="background-color:#70c265;">
            <h2>Display</h2>
        </div>
    </div>
</div>
<script type="text/javascript">
    function toggle(divtag){
    if(document.getElementById(divtag).style.display=='none'){
    document.getElementById(divtag).style.display='block';
    } else {
    document.getElementById(divtag).style.display='none';
    }
    }
</script>
}