@(workspaces : List[org.orbisgis.server.mapcatalog.Workspace])

@import helper.twitterBootstrap._

@javamain("MapCatalog","OrbisGIS services") {
<div class="container">
    <div class="page-header">
        <h1>
            <img src="@routes.Assets.at("images/OrbisMapCatalog.png")" alt="Map Catalog"></img>
        </h1>
    </div>
</div>
@if(flash.get("error")!=null){
<div class="alert alert-error" style="width:30%;margin-left:30%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error :</h4>
    @flash.get("error")
</div>
}
<div class="container-fluid" >
    <div class="row-fluid">
        <div class="span5" id="navigate" style="background-color:#61a8df;padding-left: 5px">

            <ul class="nav nav-tabs" style="margin-top:2%">
                <li @if(flash.contains("section")){class="active"}>
                    <a href="@routes.MapCatalogC.myWorkspaces()"><h4>My workspaces</h4></a>
                </li>
                <li @if(!flash.contains("section")){class="active"}>
                    <a href="@routes.MapCatalogC.index()"><h4>All workspaces</h4></a>
                </li>
            </ul>
            @if(flash.contains("section")){
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4>Info :</h4>
                    You can delete your workspace and manage its users by clicking on this button :
                </div>
                <a href="@routes.MapCatalogC.manageWorkspaces()"><button class="btn btn-danger">Manage my workspaces</button></a>
            <br/><br/>
            }
            <form class="form-search" action="@routes.MapCatalogC.searchPublicWorkspaces()">
                <input type="text" class="input-medium search-query" placeholder="Search a workspace" name="search">
                <button type="submit" class="btn">Search</button>
            </form>
            <h3>Workspaces</h3>
            @if(session.get("email")!=null){
            <div class="well well-small">
                <img id="imgtoggle" src="@routes.Assets.at("images/add.png")" alt="add"> create my own workspace</img>
                <form id="addtoggle" style="margin-left:2%;padding-bottom:2px;display:none" action="@routes.MapCatalogC.createWorkspace()">
                    <fieldset>
                        <label>Name</label>
                        <input required="required" type="text" placeholder="Type the name of the workspace" name="name">
                        <span class="help-block">Decide whether the workspace has default accesses or not :</span>
                        <label class="checkbox inline">
                            <input type="checkbox" name="all_read" value="1">Read access
                        </label>
                        <label class="checkbox inline">
                            <input type="checkbox" name="all_write" value="1">Write access
                        </label>
                        <label class="checkbox inline">
                            <input type="checkbox" name="all_read" value="1">Management access
                        </label>
                        <br/><br/>
                        <textarea style="width:90%" required="required" maxlength="999" name="description" rows="5" placeholder="Add the description of you workspace here."></textarea>
                        <br/>
                        <button type="submit" class="btn">Submit</button>
                    </fieldset>
                </form>
            </div>
            }
            <div class="CSSworktable" style="width:98%;margin-bottom:1%">

                <table>
                    <tr>
                        <td>Name</td>
                        <td>Action</td>
                        <td>Default access</td>
                    </tr>
                    @for(workspace <- workspaces){
                    <tr>
                        <td >
                            <a href="/mapcatalog/workspace/@workspace.getId_workspace()">
                                <img src="@routes.Assets.at("images/workspace.png")" alt="Map"><h5 style="display:inline">@workspace.getName()</h5>
                            </a>
                        </td>
                        <td>
                            <a href="/mapcatalog/workspace/@workspace.getId_workspace()">Explore</a>
                            <a class="toToggle @workspace.getId_workspace()">Info</a>
                            @if(!flash.contains("section")){<a href="@routes.MapCatalogC.monitor(workspace.getId_workspace())">Monitor</a>}
                        </td>
                        <td>
                            @if(workspace.getAll_read().equals("1")){Read}
                            @if(workspace.getAll_write().equals("1")){Write}
                            @if(workspace.getAll_manage().equals("1")){Manage}
                            @if(workspace.getAll_read().equals("0")&&workspace.getAll_write().equals("0")&&workspace.getAll_manage().equals("0")){None}
                        </td>
                    </tr>
                    }
                </table>
            </div>
            @if(workspaces.isEmpty()){There is no information to display}
        </div>
        <div class="span7" id="display" style="background-color:#70c265;">
            <h2>Display</h2>
            <p class="text-info" >Click on info to get the workspace description !</p>
            @for(workspace <- workspaces){
            <div class="Info" id="@workspace.getId_workspace()" style="display:none">
                <div class="well well-small">
                    <p>
                        <h3>@workspace.getName()</h3>
                        @workspace.getDescription()
                    </p>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
}