@(user : org.orbisgis.server.mapcatalog.User)

@import helper.twitterBootstrap._
@import utils.MD5Util

@javamain("Profile","Profile") {

@if(!(flash.get("error")==null)){
<div class="alert alert-error" style="width:30%;margin-left:30%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error :</h4>
    @flash.get("error")
</div>
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6" id="navigate" style="padding-left:5px;padding-bottom:5px;padding-top:5px;padding-right:5px">
            <h2>Personal information</h2>
            @defining(MD5Util.md5Hex(session.get("email"))){icon =>
                <img src="https://www.gravatar.com/avatar/@icon?s=80&amp;d=identicon">
            }
            <br/><br/>
            <form action="@routes.General.changeProfile()">
                <div class="well ">
                    <h3>Name</h3>
                    <input type="text" name="name" value="@user.getName()" style="min-width:70%">

                    <h3>Email</h3>
                    <input type="text" name="email" value="@user.getEmail()" style="min-width:70%">

                    <h3>Location</h3>
                    <input type="text" name="location" value="@user.getLocation()" style="min-width:70%">

                    <h3>Profession</h3>
                    <input type="text" name="profession" value="@user.getProfession()" style="min-width:70%">

                    <h3>Additional info</h3>
                    <input type="text" name="additional" value="@user.getAdditional()" style="min-width:70%">
                </div>
                <a href=""><button class="btn btn-primary">Submit your changes</button></a>
            </form>
        </div>
    </div>
    <br/><br/>
    <div class="row-fluid">
        <div class="span6" id="navigate" style="padding-left:5px;padding-bottom:5px;padding-top:5px;padding-right:5px">
            <div class="alert alert-error">
                <h4>WARNING :</h4>
                Deleting your account is irreversible, you will loose all your workspaces.
            </div>
            <a href=""><button class="btn btn-danger">Delete your account</button></a>
        </div>
    </div>
</div>
</div>
}
