@(reset_pass : String)

@import helper.twitterBootstrap._

@javamain("Home","OrbisGIS services") {

<div class="container">
    <div class="page-header">
        <h1>Reset password</h1>
    </div>
    @if(!(flash.get("error")==null)){
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Error :</h4>
        @flash.get("error")
    </div>
    }
    @if(flash.get("info")!=null){
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Info :</h4>
        @flash.get("info")
    </div>
    }
    <p>Write your email address and your new password</p>
    <form action="@routes.General.resetPassword()" method="post">
        <input type="hidden" name="reset_pass" value="@reset_pass">
        <h3>Email</h3>
        <input required="required" type="email" name="email" placeholder="Email"><br>
        <h3>Password</h3>
        <input required="required" type="password" name="password" placeholder="Password"><br>
        <h3>Confirm your password</h3>
        <input required="required" type="password" name="password2" placeholder="Confirm your password"><br>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>
}
