@(form: Form[General.Signin], error: String)

@import helper.twitterBootstrap._

@javamain("Signin","Sign In") {
<div class="container">
    <div class="page-header">
            <h1>Sign In</h1>
    </div>
    @if(error!=""){
    <div class="alert alert-error">
        @error
    </div>
    }
    @helper.form(routes.General.signedin) {
    <div class="control-group">
        <label class="control-label" for="inputName">Name</label>
        <div class="controls">
            <input required="required" type="text" id="inputName" name="name" placeholder="Name" value="@form("name").value">
        </div>
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
            <input required="required" type="email"  id="inputEmail" name="email" placeholder="Email" value="@form("email").value">
        </div>
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
            <input required="required" type="password" id="inputPassword" name="password" placeholder="Password">
        </div>
        <label class="control-label" for="inputLocation">Location</label>
        <div class="controls">
            <input required="required" type="text" id="inputLocation" name="location" placeholder="Location" value="@form("location").value">
        </div>
        <div class="controls">
            <button type="submit" class="btn">Sign In</button>
        </div>
    </div>
    }
    <div class="alert alert-info">
        Info: Your password must contain more than 6 characters
    </div>
</div>
}