@(id_root : String)

@import helper.twitterBootstrap._

@display(id_parent : String) = {
    @{var folders = MapCatalogC.getMapCatalog.selectWhere("folder","id_root="+id_root+", id_parent="+id_parent);
    var contexts = MapCatalogC.getMapCatalog.selectWhere("owscontext","id_root="+id_root+", id_parent="+id_parent);
    for(i <-0 until folders.size()){
    <li>
        folders.get(i).get(3)
        <ul>
            display(folders.get(i).get(0))
            {for(j <-0 until contexts.size()){
            <li>
                contexts.get(j).get(5)
            </li>
            }}
        </ul>
    </li>
    }}
}
@main("MapCatalog","Workspace") {
<head>
    <script type="text/javascript" src="@routes.Assets.at("/javascripts/simpletreemenu.js")">

    /***********************************************
    * Simple Tree Menu- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
    * This notice MUST stay intact for legal use
    * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
    ***********************************************/

    </script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/stylesheets/simpletree.css")" />
</head>

<div class="container">
    <div class="page-header">
        <h1>
            <img src="@routes.Assets.at("/images/OrbisMapCatalog.png")" alt="Map Catalog"></img>
        </h1>
    </div>
</div>
<div class="container-fluid" >
    <div class="row-fluid">
        <div class="span4" id="navigate" style="background-color:#61a8df;padding-left: 5px">
            <h2>Navigate</h2>
            <label class="radio">
                <input type="radio" name="brutalfilter" id="brutalfilter" value="My workspaces">
                My workspaces
            </label>
            <label class="radio">
                <input type="radio" name="brutalfilter" id="brutalfilter2" value="Public workspaces" checked>
                Public workspaces
            </label>
            <form class="form-search">
                <input type="text" class="input-medium search-query" placeholder="Search a context">
                <button type="submit" class="btn">Search</button>
            </form>


            <h4>Workspace</h4>
            <a href="javascript:ddtreemenu.flatten('treemenu1', 'expand')">Expand All</a> | <a href="javascript:ddtreemenu.flatten('treemenu1', 'contact')">Contact All</a>

            <ul id="treemenu1" class="treeview">
                @display(null)
            </ul>
            <script type="text/javascript">
                //ddtreemenu.createTree(treeid, enablepersist, opt_persist_in_days (default is 1))
                ddtreemenu.createTree("treemenu1", true)
            </script>
        </div>
        <div class="span8" id="display" style="background-color:#70c265;">
            <h2>Display</h2>
        </div>
    </div>
</div>
}