@(folders : List[org.orbisgis.server.mapcatalog.Folder], contexts : List[org.orbisgis.server.mapcatalog.OWSContext], root : org.orbisgis.server.mapcatalog.Workspace)

@import helper.twitterBootstrap._

@javamain("MapCatalog","OrbisGIS services") {
<div class="container">
    <div class="page-header">
        <h1>
            <img src="@routes.Assets.at("images/OrbisMapCatalog.png")" alt="Map Catalog"></img>
        </h1>
    </div>
</div>
@if(flash.get("error")!=null){
<div class="alert alert-error" style="width:30%;margin-left:30%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error :</h4>
    @flash.get("error")
</div>
}
@if(flash.get("info")!=null){
<div class="alert alert-info" style="width:30%;margin-left:30%">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Info :</h4>
    @flash.get("info")
</div>
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span5" id="navigate" style="background-color:#61a8df;padding-left: 5px">
            <ul class="nav nav-tabs" style="margin-top:2%">
                <li @if(root.getPublic()=="0"){class="active"}>
                <a href="@routes.MapCatalogC.myWorkspaces()"><h4>My workspaces</h4></a>
                </li>
                <li @if(root.getPublic()=="1"){class="active"}>
                <a href="@routes.MapCatalogC.index()"><h4>Public workspaces</h4></a>
                </li>
            </ul>
            <form class="form-search">
                <input type="text" class="input-medium search-query" placeholder="Search a workspace">
                <button type="submit" class="btn">Search</button>
            </form>
            <div class="well well-small">
                <img id="imgtoggle" src="@routes.Assets.at("images/add.png")"alt="add"> create a folder here</img>
                <form id="addtoggle" style="margin-left:2%;padding-bottom:2px;display:none" action="@routes.MapCatalogC.createFolderFromRoot()">
                    <fieldset>
                        <label>Name</label>
                        <input type="text" placeholder="Type the name of the folder" name="name">
                        <input type="text" name="id_root" value="@root.getId_workspace()" style="display:none">
                        <button type="submit" class="btn">Submit</button>
                    </fieldset>
                </form>
            </div>
            <h4>Path</h4>
            <ul class="breadcrumb">
                <li><a href="@routes.MapCatalogC.viewWorkspace(root.getId_workspace())">@root.getName()</a><span class="divider">/</span></li>
            </ul>
            <div class="CSSworktable" style="width:98%;margin-bottom:1%">
                <table >
                    <tr>
                        <td>Name</td>
                        <td>Action</td>
                    </tr>
                    @for(folder <- folders){
                    <tr>
                        <td>
                            <a href="@routes.MapCatalogC.viewFolder(folder.getId_root(), folder.getId_folder())">
                                <img src="@routes.Assets.at("images/document.png")" alt="Map">
                                @folder.getName()
                            </a>
                        </td>
                        <td>
                            <a href="@routes.MapCatalogC.viewFolder(folder.getId_root(), folder.getId_folder())">Open</a>
                            <a href="@routes.MapCatalogC.deleteFolder(folder.getId_root(), folder.getId_folder())">Delete</a>
                        </td>
                    </tr>
                    }
                    @for(context <- contexts){
                    <tr>
                        <td>
                            <img src="@routes.Assets.at("images/map-compass.png")" alt="Map"></img>
                            @context.getTitle()
                        </td>
                        <td>View</td>
                    </tr>
                    }
                </table>
            </div>
            @if(folders.isEmpty()){There is no information to display}
        </div>
        <div class="span7" id="display" style="background-color:#70c265;">
            <h2>Display</h2>
        </div>
    </div>
</div>
<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
}