@(folders : List[org.orbisgis.server.mapcatalog.Folder], contexts : List[org.orbisgis.server.mapcatalog.OWSContext], root : org.orbisgis.server.mapcatalog.Workspace)

@import helper.twitterBootstrap._

@main("MapCatalog","OrbisGIS services") {
<div class="container">
    <div class="page-header">
        <h1>
            <img src="@routes.Assets.at("images/OrbisMapCatalog.png")" alt="Map Catalog"></img>
        </h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4" id="navigate" style="background-color:#61a8df;padding-left: 5px">
            <a class="btn" href="@routes.MapCatalogC.myWorkspaces()" style="margin-top:2%"><h4>My workspaces</h4></a>
            <a class="btn" href="@routes.MapCatalogC.index()" style="margin-top:2%"><h4>Public workspaces</h4></a>
            <br/><br/>
            <form class="form-search">
                <input type="text" class="input-medium search-query" placeholder="Search a workspace">
                <button type="submit" class="btn">Search</button>
            </form>

            <h4>Workspaces</h4>
            <ul class="breadcrumb">
                <li><a href="@routes.MapCatalogC.viewWorkspace(root.getId_workspace())">@root.getName()</a><span class="divider">/</span></li>
            </ul>
            <div class="CSSworktable" style="width:98%;margin-bottom:1%">
                <table >
                    <tr>
                        <td>Name</td>
                        <td>Action</td>
                    </tr>
                    @for(folder <- folders){
                    <tr>
                        <td>
                            <a href="@routes.MapCatalogC.viewFolder(folder.getId_root(), folder.getId_folder())">
                                <img src="@routes.Assets.at("images/document.png")" alt="Map">
                                @folder.getName()
                            </a>
                        </td>
                        <td>
                            <a href="@routes.MapCatalogC.viewFolder(folder.getId_root(), folder.getId_folder())">View</a>
                        </td>
                    </tr>
                    }
                    @for(context <- contexts){
                    <tr>
                        <td>
                            <img src="@routes.Assets.at("images/map-compass.png")" alt="Map"></img>
                            @context.getTitle()
                        </td>
                        <td>View</td>
                    </tr>
                    }
                </table>
            </div>
        </div>
        <div class="span8" id="display" style="background-color:#70c265;">
            <h2>Display</h2>
        </div>
    </div>
</div>
}