.CSSworktable {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSworktable table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSworktable tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSworktable table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSworktable table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSworktable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSworktable tr:hover td{
	
}
.CSSworktable tr:nth-child(odd){ background-color:#e5e5e5; }
.CSSworktable tr:nth-child(even)    { background-color:#ffffff; }.CSSworktable td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:10px;
	font-family:Verdana;
	font-weight:normal;
	color:#000000;
}.CSSworktable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSworktable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSworktable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSworktable tr:first-child td{
		background:-o-linear-gradient(bottom, #61a8df 5%, #0c84bf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #61a8df), color-stop(1, #0c84bf) );
	background:-moz-linear-gradient( center top, #61a8df 5%, #0c84bf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#61a8df", endColorstr="#0c84bf");	background: -o-linear-gradient(top,#61a8df,0c84bf);

	background-color:#61a8df;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Verdana;
	font-weight:bold;
	color:#ffffff;
}
.CSSworktable tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #61a8df 5%, #0c84bf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #61a8df), color-stop(1, #0c84bf) );
	background:-moz-linear-gradient( center top, #61a8df 5%, #0c84bf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#61a8df", endColorstr="#0c84bf");	background: -o-linear-gradient(top,#61a8df,0c84bf);

	background-color:#61a8df;
}
.CSSworktable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSworktable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

div.message {
    left:15%;
    top:40%;
    display:none;
    position:fixed;
    border-style:solid;
    border-color:black;
    border-width:5px;
    border-radius:10px;
    background-color:white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
}

div#navigate
{
border:2px solid;
border-radius:10px;
}
div#display
{
border:2px solid;
border-radius:10px;
}

div.commentBox {
    border-style:solid;
    border-color:black;
    border-width:5px;
    border-radius:10px;
    background-color:white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
}